.sidebar-container {
  width: 345px;
  height: 1000px;
  justify-content: space-between;
}

.white-logo {
  width: 100%;
  cursor: pointer;
}

.logo-container {
  width: 75%;
}

.sidebar-btn {
  margin-left: 26px;
}

.home-btn,
.rides-btn,
.profile-btn,
.logout-btn {
  border-radius: 50px 0px 0px 50px;
  font-size: 26px;
  width: 100%;
  padding: 17px;
  cursor: pointer;
}

.logout-btn {
  margin-bottom: 25px;
}

.side-elements {
  align-self: flex-end;
  gap: 20px;
  width: 100%;
}
