.primary-bg {
  background-color: #2d9596;
}

.black-bg {
  background-color: #232323;
}

.pink-bg {
  background-color: #ff8484;
}

.gray-bg {
  background-color: #d9d9d9;
}

.white-bg {
  background-color: white;
}

.primary-text {
  color: #2d9596;
}

.black-text {
  color: #232323;
}

.white-text {
  color: white;
}
