.profile-pic {
  margin-top: 50px;
  width: 50%;
  height: 50%;
}

.profile-con {
  place-content: space-around;
}

.comp-container {
  position: relative;
}

.title-header {
  align-self: flex-start;
  font-size: 20px;
}

.profile-bg {
  width: 85%;
  border-radius: 50px;
  align-self: center;
}

.user-name,
.email,
.phone-number,
.date {
  font-size: 28px;
}

.user-info {
  width: 60%;
  padding: 60px;
  gap: 65px;
}
