.comp-container {
  position: relative;
}

.map-component {
  /* position: absolute;
  top: 15%;
  right: 6%; */
}

.title-header {
  /* position: absolute; */
  right: 54%;
  top: 6%;
  font-size: 20px;
}

.title-text {
  /* position: absolute; */
  top: 67%;
  left: 25%;
}

.rides-tabel {
  /* position: absolute; */
  bottom: 2.5%;
  left: 26%;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.title-header > h1 {
  font-weight: 400;
}

th {
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
}

td {
  border: 1px solid grey;
  padding-right: 20px;
}

