@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: "Roboto", sans-serif;
}

.loginButton {
  padding: 14px 29px 14px 29px;
  cursor: pointer;
  border-radius: 50px;
}

.scan {
  margin-top: 20%;
  margin-bottom: 6%;
}

.scan-sec-title {
  font-size: 20px;
}

.view > p:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
}

.view > p:nth-child(2) {
  font-size: 14px;
}

.code {
  gap: 250px;
  margin-top: 35px;
}

.view {
  gap: 20px;
}
